<html>
<head>
<title> City News Summary </title>
<style type = "text/css">
ul {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: #a7cece;
	font-family: sans-serif;
}
h1 {
	font-family: sans-serif;
	color: green;
}
h2{
	font-family: sans-serif;
	color: blue;
}

</style>
</head>
<body>
	<div id ="newsdate">
		<h1> News for date {{data['date']}} </h1>		
	</div>

	<div id = "newsdata">
		{% for city in data['data']%}
		<li> <h2>{{city}} </h2></li>
		{% for news in data['data'][city]%}
		<ul class="newsforeachcity">  {{news}} </ul>
	
		{% endfor %}
		{% endfor %}
	</div>



</body>
</html>