<!DOCTYPE html>
<html lang="en">
<head>
	<title>News Summary</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">NewsAnalysis</a>
			<ul class="nav">
				<li id="delhi" class="active cities"><a href="#">Delhi</a></li>
				<li id="bangalore" class="cities"><a href="#">Bangalore</a></li>
				<li id="hyderabad" class="cities"><a href="#">Hyderabad</a></li>
				<li id="chennai" class="cities"><a href="#">Chennai</a></li>
				<li id="coimbatore" class="cities"><a href="#">Coimbatore</a></li>
			</ul>
		</div>
	</div>
	<div id="content" />
	<script src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
	<script type="text/javascript" src="https://raw.github.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>
	<script src="static/js/main.js"></script>
</body>
</html>